<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculatrice</title>
  <link rel="stylesheet" href="style.css">
  <link rel="manifest" href="manifest.json">
  
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Calc Notes PWA">

  <meta name="description" content="Weather Application">
  
  <meta name="theme-color" content="#ffffff" />
</head>

<body>
  <header class="header">
    <h1>
      Calc Notes
    </h1>
    <button id="butInstall" aria-label="Install" hidden></button>
    <button id="btn-settings" aria-label="Settings"></button>
  </header>

  <div id="app" v-on:keyup.left="moveLeft()" v-on:keyup.right="moveRight()">
    <div id="list" ondrop="dropHandlerMoveLast(event)" ondragover="dragoverHandler(event)">
      <div class="item" v-bind:id="'item-' + idx" v-bind:class="{'selected': selectedNote == idx}" tabindex="0"
        v-for="(note, idx) in listNotes" v-on:click="selectNote(idx)" draggable="true"
        ondragstart="dragstartHandler(event)" ondrop="dropHandlerMoveBefore(event)"><span>{{idx+1}}</span>{{note.getVal().toFixed(2)}}</div>
    </div>
    <div id="total">
      <div v-if="baremes[computeMethod] != 20">
        <div class="title">Barème sur {{baremes[computeMethod]}}</div>
        <div id="runningTotal">{{runningTotal.toFixed(2)}}</div>
      </div>
      <div>
        <div class="title">Note Finale</div>
        <div id="finalTotal">{{finalTotal.toFixed(2)}}</div>
      </div>

      <button v-bind:disabled="listNotes.length == 0" v-on:click="resetCalc()" title="Remise à zéro"
        ondrop="dropHandler(event)" ondragover="dragoverHandler(event)">🗑</button>
    </div>
    <div id="control">
      <button id="num" v-on:click="appendNumber()"
        v-bind:disabled="currNum.getVal() == 0.0">{{currNum.getVal().toFixed(2)}}</button>
      <div id="frac">
        <button id="p0-4" data-value="0" v-on:click="currNum.setDecimal(0)">0</button>
        <button id="p1-4" data-value="25" v-on:click="currNum.setDecimal(25)">¼</button>
        <button id="p1-2" data-value="50" v-on:click="currNum.setDecimal(50)">½</button>
        <button id="p3-4" data-value="75" v-on:click="currNum.setDecimal(75)">¾</button>
      </div>
      <div id="int">
        <button v-for="n in 5" v-on:click="setBaseValue((n - 1) * 5)">{{(n - 1) * 5}}</button>
        <template v-for="n in 5">
          <button v-bind:id="'int-' + (n - 1)" v-on:click="currNum.setInteger(selValue + n - 1)">{{selValue + n -
            1}}</button>
        </template>
      </div>
      <div id="rounding">
        <select v-model="computeMethod" v-on:change="updateTotal()">
          <option value="0">Note sur 10</option>
          <option value="1">Note sur 20</option>
          <option value="2">Note sur 30, Arrondi à 0.25 près</option>
          <option value="3">Note sur 30, Arrondi 2<sup>ème</sup> décimale</option>
          <option value="4">Note sur 40, Arrondi à 0.25 près</option>
          <option value="5">Note sur 40, Arrondi 2<sup>ème</sup> décimale</option>
        </select>
      </div>
    </div>
  </div>
  <script src="scripts/install.js"></script>
  <script src="scripts/vue.min.js"></script>
  <script src="scripts/control.js"></script>
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('sw.js')
          .then((reg) => {
            console.log('Service worker registered.', reg);
          });
      });
    }
  </script>
</body>

</html>