* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

#int,
#frac {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#list {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	height: 40vh;
	border: #567 solid 2px;
	padding: 2px;
	background-color: #f5f5f5;
	counter-reset: itemcount;
	align-content: flex-start;
	overflow: auto;
}

.item {
	border: #666 solid 1px;
	padding: 2px;
	margin: 2px;
	font-size: 16pt;
	position: relative;
	border-radius: 5px;
  cursor: pointer;
}

.item span {
	font-size: 70%;
	background-color: #666;
	color: #fff;
	line-height: 30px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 2px;
	padding: 2px;
	border-radius: 3px;
}

.item.selected {
	background-color: #000;
	color: #fff;
}

#total {
	background-color: #666;
	border: #666 solid 2px;
	display: flex;
	justify-content: space-between;
}

#total>div {
	width: 45%;
	border-right: #eee solid 1px;
}

#total>div:last-of-type {
	border-right: none;
}

#runningTotal,
#finalTotal {
	text-align: center;
	font-size: 40pt;
	color: #fff;
}

#total>button {
	width: 10%;
}

.title {
	text-align: center;
	font-weight: bold;
	color: #eee;
}

#frac>button {
	width: 25%;
	font-size: 26pt;
}

#int>button {
	width: 20%;
	font-size: 26pt;
}

#num {
	display: block;
	width: 100%;
	background-color: #f0f0f0;
	text-align: center;
	font-size: 28pt;
	border: #333 solid 5px;
	margin: 10px 0 0;
}

select {
	width: 100%;
}